@model CreateCollectionVM
@inject IThemesCrudService themesService
@inject IFieldTypesCrudService fieldTypesService
@inject IViewLocalizer localizer

<div class="d-flex justify-content-center mt-2">
    <div class="d-flex flex-column align-items-stretch w-75 mt-2" style="max-width: 768px;">
        <h3 class="text-center">
            @localizer["header"]
        </h3>

        <div class="align-self-center p-1">
            <div name="imgContainer" style="display: none;">
                <div class="d-flex justify-content-center align-items-center">
                    <a id="changeImage" href="" class="btn p-0">
                        <img class="img-fluid img-thumbnail mx-square-20" src="@Model.ImageUrl" />
                    </a>
                </div>
            </div>
            <div id="dzContainer">
                <div id="dropzone" class="dropzone d-flex p-0 justify-content-center square-25">
                </div>
            </div>
        </div>

        <form asp-action="CreateCollection" asp-controller="Profile" method="post" class="d-flex flex-column align-items-center mt-2">
            <input asp-for="Name" type="text" class="form-control w-75 text-center"
                   placeholder="@localizer["Collection_name"]">
            @Html.DropDownListFor(m => m.ThemeId, new SelectList(await themesService.GetAllAsync(), "Id", "Name"), localizer["Select_theme"].Value, new { @class = "mt-2 form-control w-75 text-center" })
            <div class="text-center mt-3 w-75">
                <h6 class="text-muted">@localizer["Description"]</h6>
                <textarea asp-for="Description" class="form-control form-control w-100 text-center"
                          placeholder="@localizer["Collection_description"]"
                          style="min-height: 20vh;"></textarea>
            </div>

            <div class="text-center mt-3 w-75">
                <h6 class="text-muted">@localizer["Fields"]</h6>
                <div id='fields' name="Fields"
                     class="d-flex flex-column justify-content-center border-custom p-2">
                    <div class="w-100">
                        <a id="btnAddField" href="#" class="btn p-0">
                            <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor"
                                 class="tiny-icon" viewBox="0 0 16 16">
                                <path fill-rule="evenodd"
                                      d="M14 1H2a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1zM2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2z" />
                                <path fill-rule="evenodd"
                                      d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z" />
                            </svg>
                        </a>
                    </div>
                </div>
            </div>

            <div class="w-75 d-flex flex-row justify-content-between mt-2">
                <a asp-action="Info" asp-controller="Profile" asp-route-id="@Model.OwnerId" class="btn p-0">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor"
                         class="bigger-icon" viewBox="0 0 16 16">
                        <path fill-rule="evenodd"
                              d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z" />
                    </svg>
                </a>
                <button type="submit" class="btn p-0">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor"
                         class="bigger-icon" viewBox="0 0 16 16">
                        <path fill-rule="evenodd"
                              d="M13.854 3.646a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708 0l-3.5-3.5a.5.5 0 1 1 .708-.708L6.5 10.293l6.646-6.647a.5.5 0 0 1 .708 0z" />
                    </svg>
                </button>
            </div>

            <div asp-validation-summary="All" class="text-danger font-weight-bold">
            </div>
            <input type="hidden" asp-for="@Model.ResourceId" value="@Model.ResourceId" />
            <input type="hidden" asp-for="@Model.OwnerId" value="@Model.OwnerId" />
            <input type="hidden" asp-for="@Model.ImageUrl" value="@Model.ImageUrl" />
        </form>
    </div>
</div>

<div id="cashedFields" class="d-none">
    @Html.Raw(Json.Serialize(Model.Fields))
</div>

<div id="tpl" class="d-none">
    @{await Html.RenderPartialAsync("_DropzoneTemplate"); }
</div>

<div class="d-none">
    <div id="fieldProto" name='field' class="d-flex flex-row flex-nowrap align-items-center mt-1">
        <input type="hidden" data-prop="id" />
        <input data-prop="name" type="text" class="form-control flex-grow-1 mr-1 " placeholder="@localizer["Field_name"]" />
        @Html.DropDownList("type", new SelectList(await fieldTypesService.GetAllAsync(), "Id", "Type"), localizer["Select_type"].Value, new { @class = "form-control", data_prop = "type" })
        <a name='btnDeleteField' href="" class="d-block btn p-0">
            <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="tiny-icon" viewBox="0 0 16 16">
                <path fill-rule="evenodd"
                      d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z" />
            </svg>
        </a>
    </div>
</div>

@section Scripts{
    <script src="~/lib/dropzone-5.7.0/dist/dropzone.js"></script>
    <script src="~/js/appDropzone.js"></script>
    <script src="~/js/createCollection.js"></script>
}