@model UserVM
@inject IViewLocalizer localizer

<div class="h-100">
    <div class="h-100 w-100 mt-3 d-flex flex-column">
        <div class="border-bottom-custom">
            <div class="col-8 offset-2 text-center">
                <h4 class="d-inline-block w-75">
                    @Model.FirstName @Model.LastName
                </h4>
                <h6>
                    @Model.Username
                </h6>
            </div>
        </div>
        <div class="d-flex flex-row justify-content-center border-bottom-custom">
            <div class="btn-group">
                <a href="#" id="btnGetCollections" class="btn btn-outline-info font-weight-bold ">
                    @localizer["Collections"]
                </a>
                <a href="#" id="btnGetItems" class="btn btn-outline-info font-weight-bold">
                    @localizer["Items"]
                </a>
            </div>
        </div>
        <div class="mt-2" id="view">
            <div id="collections">
                <h5 class="text-center">@localizer["Collections"]</h5>
                @{await Html.RenderPartialAsync("_Collections", new ProfileCollectionsVM
                    {
                        AllowEdit = User.IsInRole("admin") || User.FindFirstValue(ClaimTypes.NameIdentifier) == Model.Id.ToString(),
                        Collections = Model.Collections
                    });}
            </div>
            <div id="items">
                <h5 class="text-center">@localizer["Items"]</h5>
                @{await Html.RenderPartialAsync("_Items", new ProfileItemsVM
                    {
                        AllowEdit = User.IsInRole("admin") || User.FindFirstValue(ClaimTypes.NameIdentifier) == Model.Id.ToString(),
                        Items = Model.Items
                    }); }
            </div>
        </div>
    </div>
</div>

<div id="delItemModal" class="modal fade">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content text-center border-custom rounded">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" data-target="#delItemModal" aria-label="Close">&times;</button>
            </div>
            <h4 class="modal-title">@localizer["ConfirmDel"]</h4>
            <div class="modal-body">
                @localizer["DelItemMessage"] "<span id="itemName"></span>"?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal" data-target="#delItemModal" id="confirmDelItem">@localizer["Yes"]</button>
                <button type="button" class="btn btn-primary" data-dismiss="modal" data-target="#delItemModal">@localizer["No"]</button>
            </div>
        </div>
    </div>
</div>

<div id="delCollectionModal" class="modal fade">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content text-center border-custom rounded">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" data-target="#delItemModal" aria-label="Close">&times;</button>
            </div>
            <h4 class="modal-title">@localizer["ConfirmDel"]</h4>
            <div class="modal-body">
                @localizer["DelCollectionMessage"] "<span id="collectionName"></span>"?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal" data-target="#delItemModal" id="confirmDelCollection">@localizer["Yes"]</button>
                <button type="button" class="btn btn-primary" data-dismiss="modal" data-target="#delItemModal">@localizer["No"]</button>
            </div>
        </div>
    </div>
</div>

<div id="spinner" class="position-fixed bg-transparent" style="display:none; top:50%; left:50%;">
    <div class="text-center bg-transparent m-auto">
        <div class="spinner-border bg-transparent ">
            <span class="sr-only">Deleting</span>
        </div>
        <div class="text-center bg-transparent">
            @localizer["Deleting"]...
        </div>
    </div>
</div>

@section Scripts{
    <script>
        let itemId;
        let collectionId;

        $('#btnGetCollections').click(e => {
            e.preventDefault();
            $('#items').hide();
            $('#collections').show();
        });
        $('#btnGetItems').click(e => {
            e.preventDefault();
            $('#collections').hide();
            $('#items').show();
        });

        $(() => {
            $('#btnGetCollections').click();

            $('[name=btnDeleteCollection]').click(e => {
                e.preventDefault();
                collectionId = $(e.delegateTarget).attr('data-id');
                let name = $(`[name=collection][data-id=${collectionId}]`).attr('data-name');
                $('#delCollectionModal').find('#collectionName').text(name);
            });
            $('[name=btnDeleteItem]').click(e => {
                e.preventDefault();
                itemId = $(e.delegateTarget).attr('data-id');
                let name = $(`[name=item][data-id=${itemId}]`).attr('data-name');
                $('#delItemModal').find('#itemName').text(name);

            });

            $('#confirmDelItem').click(async e => {
                e.preventDefault();
                $('#spinner').show();
                $('#view').fadeTo(300, 0.5);
                $('#view a').css('pointer-events', 'none');
                await $.post('/api/DeleteItem', { 'ItemId': itemId }, (result) => {
                    if (result.succeed === true)
                        $(`[name=item][data-id=${itemId}]`).remove()
                    else
                        console.log(result.errors)
                });
                $('#spinner').hide();
                $('#view a').css('pointer-events', 'auto');
                $('#view').fadeTo(300, 1.0);
            });

            $('#confirmDelCollection').click(async e => {
                e.preventDefault();
                $('#spinner').show();
                $('#view').fadeTo(300, 0.5);
                $('#view a').css('pointer-events', 'none');
                await $.post('/api/DeleteCollection/', { 'CollectionId': collectionId }, (result) => {
                    if (result.succeed === true)
                        $(`[name=collection][data-id=${collectionId}]`).remove()
                    else
                        console.log(result.errors)
                });
                $('#spinner').hide();
                $('#view a').css('pointer-events', 'auto');
                $('#view').fadeTo(300, 1.0);
            });

            $('[name=collection],[name=item]').hover(
                e => $(e.delegateTarget).find('[name=editTools]').show(),
                e => $(e.delegateTarget).find('[name=editTools]').hide()
            );
        });
    </script>
}