@model IEnumerable<ThemeVM>
<div class="mt-2 col-6 offset-3">
    <div class="text-center">
        <input id="inputName" class="text-center form-control" />
        <button href="#" id="btnCreate" class="btn btn-outline-info mt-2">Create theme</button>
    </div>
    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th scope="col">Id</th>
                <th scope="col">Name</th>
                <th></th>
            </tr>
        </thead>
        <tbody id="table">
            <tr>
                <td></td>
                <td>
                    <input id="nameInput" class="form-control" data-prop="name" />
                </td>
                <td><button class="btn p-0" name="btnDelete">Add</button></td>
            </tr>
            @foreach (var theme in Model)
            {
                <tr data-id="@theme.Id">
                    <td>@theme.Id</td>
                    <td>
                        <div name="nameArea" class="d-flex flex-row align-items-center justify-content-around">
                            <input data-id="@theme.Id" data-prop="name" readonly value="@theme.Name" />
                            <div name="spinner" class="spinner-border spinner-border-sm m-1" style="visibility: hidden;" role="status">
                                <span class="sr-only">Updating...</span>
                            </div>
                            <button class="btn" name="btnRename" disabled>Rename</button>
                        </div>
                    </td>
                    <td><button class="btn" name="btnDelete" data-id="@theme.Id">Delete</button></td>
                </tr>
            }
        </tbody>
    </table>
</div>

<table class="d-none">
    <tr id="themeProto">
        <td data-prop="id"></td>
        <td data-prop="name"></td>
        <td><a href="#" name="btnDelete">Delete</a></td>
    </tr>
</table>

@section Scripts{
    <script>
        $('[name=btnDelete]').click(e => {
            e.preventDefault();
            let id = $(e.delegateTarget).attr('data-id');
            $.post('/admin/deleteTheme/', {
                id: id
            },
                (result) => {
                    $(`tr[data-id=${id}]`).remove();
                });
        });
        $('#btnCreate').click(e => {
            e.preventDefault();
            $.post('/admin/createTheme', {
                name: $('#inputName').val()
            }, vm => {
                if (vm) {
                    let elem = $('#themeProto').clone(true).removeAttr('id');
                    elem.attr('data-id', vm.id);
                    elem.find('[data-prop=id]').text(vm.id);
                    elem.find('[data-prop=name]').text(vm.name);
                    elem.find('[name=btnDelete]').attr('data-id', vm.id);
                    $('#table').append(elem);
                }
            })
        });

        let cashedName;
        $('[name=nameArea]').dblclick(e => {
            cashedName = $(e.delegateTarget).find('input').val();
            $(e.delegateTarget).find('input').removeAttr('readonly').focus().parents('div').find('[name=btnRename]').removeAttr('disabled');
        });

        $('input[data-prop=name]').blur(e => {
            $(e.delegateTarget).attr('readonly', true);
            if ($(e.delegateTarget).val() == cashedName)
                $(e.delegateTarget).parents('div').find('[name=btnRename]').attr('disabled', true);
        });

        $('[name=btnRename]').click(async e => {
            e.preventDefault();
            let themeId = $(e.delegateTarget).parent().find('input').attr('data-id');
            let name = $(e.delegateTarget).parent().find('input').val();
            $(e.delegateTarget).parent().find('[name=spinner]').showV();
            await $.post('/admin/updateTheme/',
                {
                    themeId: themeId,
                    name: name
                },
                result => {
                    if (result.succeed !== true) {
                        $(`input[data-id=${themeId}]`).val(cashedName);
                        console.log(result.errors);
                    }
                });
            $(e.delegateTarget).parent().find('[name=spinner]').hideV();
        });
    </script>
}