@model IEnumerable<AppUserVM>
@inject IViewLocalizer localizer

<div id="main" class="mt-2">
    <div class="btn-toolbar col-6 offset-3 mt-0 justify-content-center">
        <div class="btn-group border-custom border-bottom-0">
            <button class="btn btn-light" id="btnUnblock">
                <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-unlock-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                    <path d="M.5 9a2 2 0 0 1 2-2h7a2 2 0 0 1 2 2v5a2 2 0 0 1-2 2h-7a2 2 0 0 1-2-2V9z" />
                    <path fill-rule="evenodd" d="M8.5 4a3.5 3.5 0 1 1 7 0v3h-1V4a2.5 2.5 0 0 0-5 0v3h-1V4z" />
                </svg>
            </button>
            <button class="btn btn-light" id="btnBlock">
                <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-lock-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                    <path d="M2.5 9a2 2 0 0 1 2-2h7a2 2 0 0 1 2 2v5a2 2 0 0 1-2 2h-7a2 2 0 0 1-2-2V9z" />
                    <path fill-rule="evenodd" d="M4.5 4a3.5 3.5 0 1 1 7 0v3h-1V4a2.5 2.5 0 0 0-5 0v3h-1V4z" />
                </svg>
            </button>
            <button class="btn btn-light" id="btnDelete" data-toggle="modal" data-target="#delUsersModal">
                <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-x-square-fill" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" d="M2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2zm3.354 4.646a.5.5 0 1 0-.708.708L7.293 8l-2.647 2.646a.5.5 0 0 0 .708.708L8 8.707l2.646 2.647a.5.5 0 0 0 .708-.708L8.707 8l2.647-2.646a.5.5 0 0 0-.708-.708L8 7.293 5.354 4.646z" />
                </svg>
            </button>
        </div>
    </div>
    <div class="mt-0">
        <table class="table col-12 table-bordered table-striped">
            <thead>
                <tr>
                    <th scope="col" align="center">
                        <input type="checkbox" id="checkBoxMain" />
                    </th>
                    <th scope="col">Id</th>
                    <th scope="col">Username</th>
                    <th scope="col">Email</th>
                    <th scope="col">@localizer["First_name"]</th>
                    <th scope="col">@localizer["Last_name"]</th>
                    <th scope="col">@localizer["Status"]</th>
                    <th scope="col">@localizer["Role"]</th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody id="table">
                @foreach (var user in Model)
                {
                    <tr data-userId="@user.Id" data-isAdmin="@user.IsAdmin.ToString().ToLower()" data-isBlocked="@user.IsBlocked.ToString().ToLower()">
                        <td>
                            <div class="text-center">
                                <input type="checkbox" data-userId="@user.Id" data-username="@user.Username" />
                            </div>
                        </td>
                        <td>@user.Id</td>
                        <td>@user.Username</td>
                        <td>@user.Email</td>
                        <td>@user.FirstName</td>
                        <td>@user.LastName</td>
                        <td name="status"></td>
                        <td name="role"></td>
                        <td>
                            <button class="btn border-custom" name="btnDelRules" data-userId="@user.Id" style="display:none;">@localizer["Drop_admin"]</button>
                            <button class="btn border-custom" name="btnAddRules" data-userId="@user.Id" style="display:none;">@localizer["Make_admin"]</button>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

<div id="delUsersModal" class="modal fade">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content text-center border-custom rounded">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" data-target="#delItemModal" aria-label="Close">&times;</button>
            </div>
            <h4 class="modal-title">@localizer["ConfirmDel"]</h4>
            <div class="modal-body">
                @localizer["DelCollectionMessage"] "<span id="users"></span>"?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn" data-dismiss="modal" data-target="#delUsersModal" id="btnConfirmDelUsers">@localizer["Yes"]</button>
                <button type="button" class="btn" data-dismiss="modal" data-target="#delUsersModal">@localizer["No"]</button>
            </div>
        </div>
    </div>
</div>

<div id="spinner" class="position-fixed bg-transparent" style="display:none; top:50%; left:50%;">
    <div class="text-center bg-transparent m-auto">
        <div class="spinner-border bg-transparent ">
            <span class="sr-only">Deleting</span>
        </div>
        <div class="text-center bg-transparent">
            @localizer["Deleting"]...
        </div>
    </div>
</div>

@section Scripts{
    <script src="~/js/users.js"></script>
} 