@{
    ViewData["Title"] = "Home Page";
}
@inject ICollectionsCrudService colelctionsService
@inject IItemsCrudService itemsService
@inject IViewLocalizer localizer

<div>
    <div class="d-flex flex-column">

        <div class="d-none">
            <div class="p-2 border-custom border-top-0 rounded">
                <div id="tagsCloud" class="d-flex flex-row flex-wrap justify-content-center">
                    <a id="tagPrototype" class="btn btn-outline-info" href="https://localhost:44306/#"
                       data-selected="0" hidden></a>
                    <a href="https://localhost:44306/#" class="btn btn-outline-info" data-selected="0"
                       data-id="3" data-value="it" class="tag">#it</a>
                    <a href="https://localhost:44306/#" class="btn btn-outline-info" data-selected="0"
                       data-id="2" data-value="rus" class="tag">#rus</a>
                    <a href="https://localhost:44306/#" class="btn btn-outline-info" data-selected="0"
                       data-id="1" data-value="test" class="tag">#test</a>
                </div>
            </div>
        </div>

        <div class="w-100 mt-2">
            <div class="text-center ">
                <h4>
                    @localizer["Top_Collections"]
                </h4>
            </div>
            <div class="d-flex flex-row flex-nowrap h-auto align-items-baseline justify-content-center overflow-auto h-auto">
                @foreach (var collection in (await colelctionsService.GetAllAsync()).OrderByDescending(c => c.CollectionItems.Count()).Take(10))
                {
                    <div class="text-center m-1">
                        <div>
                            <a asp-action="Collection" asp-controller="Store" asp-route-id="@collection.Id" class="btn p-0">
                                <img class="img-fluid img-thumbnail mx-square-20"
                                     src="@collection.Resource.Url"
                                     alt="picture">
                            </a>
                        </div>
                        <div>
                            <h5 class="text-wrap">@collection.Name</h5>
                            <h6 class="text-wrap">@localizer["Items"]: <span>@collection.CollectionItems.Count()</span></h6>
                        </div>
                    </div>
                }
            </div>
        </div>
        <div class="w-100 mt-3">
            <div class="h-100">
                <div class="text-center">
                    <h4>
                        @localizer["New_Items"]
                    </h4>
                </div>
                <div>
                    <div class="d-flex flex-row flex-wrap align-items-baseline justify-content-center">
                        @foreach (var item in (await itemsService.GetAllAsync()).OrderByDescending(i => i.CreationDate))
                        {
                            <div class="text-center m-1">
                                <div>
                                    <a asp-action="Item" asp-controller="Store" asp-route-id="@item.Id" class="btn p-0">
                                        <img class="img-fluid img-thumbnail mx-square-20"
                                             src="@item.Resource.Url"
                                             alt="picture">
                                    </a>
                                </div>
                                <div>
                                    <h5 class="text-wrap">@item.Name</h5>
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>