@model CollectionVM
<div class="h-100">
    <div class="h-100 w-100 mt-3 d-flex flex-column">
        <div class="border-bottom-custom">
            <div class="col-8 offset-2 text-center">
                <h4 class="d-inline-block w-75">
                    Collection: <span class="font-weight-bold">@Model.Name</span>
                </h4>
                <h5>
                    Theme: <span class="font-weight-bold">@Model.Theme.Name</span>
                </h5>
                <h6>
                    Owner: <span class="font-weight-bold">@Model.Owner.Username</span>
                </h6>
            </div>
        </div>
        <div class="col-6 offset-3 mt-1">
            <h5 class="text-center">Description</h5>
            <div class="text-center">
                @Model.Description
            </div>
        </div>
        <div class="mt-1">
            <div id="view" class="d-flex flex-row flex-md-row flex-wrap align-items-baseline justify-content-center">
                @foreach (var item in Model.Items)
                {
                    <div class=" m-1 square-25 text-center">
                        <div class="p-2">
                            <a asp-action="Item" asp-controller="Store" asp-route-id="@item.Id" data-placement="bottom" data-toggle="tooltip" data-html="true" title="tooltip">
                                <img class="img-fluid img-thumbnail"
                                     src="@item.ImageUrl"
                                     alt="picture">
                            </a>
                        </div>
                        <div>
                            <h5>@item.Name</h5>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>