@model CollectionVM
<div class="h-100">
    <div class="h-100 w-100 mt-3 d-flex flex-column">
        <div class="border-bottom-custom">
            <div class="col-8 offset-2 text-center">
                <h4 class="d-inline-block w-75">
                    @Model.Name
                </h4>
                <h6>
                    Owner: <a class="btn font-weight-bold" asp-action="Info" asp-controller="Profile" asp-route-id="@Model.Owner.Id">@Model.Owner.Username</a>
                </h6>
            </div>
        </div>
        <div class="d-flex flex-row flex-wrap justify-content-center w-100 border-bottom-custom">
            <div class="flex-grow-0">
                <div class="p-2 text-center">
                    <img class="img-fluid img-thumbnail mx-square-40" src="@Model.ImageUrl" alt="picture">
                    <h5>@Model.Name</h5>
                </div>
            </div>
            <div class="flex-grow-1 p-1 text-center">
                <h5 class="text-center">Description</h5>
                <div class="w-100" style="min-width: 300px;">
                    @Model.Description
                </div>
            </div>
        </div>
        <div class="mt-1">
            <div id="items" class="d-flex flex-row flex-md-row flex-wrap align-items-baseline justify-content-center">
                @foreach (var item in Model.Items)
                {
                    <div class=" m-1 text-center">
                        <div class="p-2">
                            <a asp-action="Item" asp-controller="Store" asp-route-id="@item.Id" data-placement="bottom" data-toggle="tooltip" data-html="true" title="tooltip">
                                <img class="img-fluid img-thumbnail mx-square-20"
                                     src="@item.ImageUrl"
                                     alt="picture">
                            </a>
                        </div>
                        <div>
                            <h5>@item.Name</h5>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>