@inject ICollectionsCrudService collectionsService
@inject IViewLocalizer localizer

@{await Html.RenderPartialAsync("_TagsRow");}

<div class="w-100 mt-3">
    <h3 class="text-center">@localizer["header"]</h3>
    <div class="position-fixed d-flex flex-column align-content-center justify-content-start bg-transparent p-2 h-75 border-left-custom sidebar btn-hidden"
         style="top: 15%; right: 4%; max-width: 13%;">
        <h6 class="font-italic bg-transparent">@localizer["Sort_by"]: </h6>
        <select id="sortProp" data-prop="date">
            <option selected="selected" value="date">@localizer["Date"]</option>
            <option value="like">@localizer["Popularity"]</option>
            <option value="count">@localizer["Items_count"]</option>
            <option value="name">@localizer["Name"]</option>
        </select>
        <select id="sortPropParam">
            <option value="Asc">@localizer["Ascending"]</option>
            <option selected="selected" value="Desc">@localizer["Descending"]</option>
        </select>
    </div>
    <div>
        <div id="collections" class="d-flex flex-row flex-wrap align-items-baseline justify-content-center">
            @foreach (var collection in (await collectionsService.GetAllAsync()).OrderByDescending(c => c.CreationDate))
            {
                <div name="collection" class="m-2 text-center" data-name="@collection.Name" data-date="@collection.CreationDate.ToFileTimeUtc()" 
                     data-likes="@collection.CollectionItems.Select(ci => ci.Item.ItemLikes.Count()).Sum()" data-count="@collection.CollectionItems.Count()">
                    <div class="btn p-0">
                        <a asp-action="Collection" asp-controller="Store" asp-route-id="@collection.Id" class="btn p-0 ">
                            <img class="img-fluid img-thumbnail mx-square-20"
                                 src="@collection.Resource.Url"
                                 alt="picture">
                        </a>
                    </div>
                    <div>
                        <h5 class="text-wrap">@collection.Name</h5>
                        <h6 class="text-wrap">@localizer["Items"]: <span>@collection.CollectionItems.Count()</span></h6>
                    </div>
                </div>
            }
        </div>
    </div>
</div>

@section Scripts{ 
<script src="~/js/collectionsSort.js"></script>
}