@model CreateItemVM
@inject IUserCrudService userService
<div class="d-flex justify-content-center mt-2">
    <div class="d-flex flex-column align-items-stretch w-75 mt-2" style="max-width: 768px;">
        <h3 class="text-center">
            New Item
        </h3>
        <div class="align-self-center border-custom p-1">
            <div id="dropzone" class="dropzone d-flex p-0 justify-content-center square-25">
            </div>
        </div>
        <form asp-action="CreateItem" asp-controller="Store" method="post" class="mt-2">
            <div class="d-flex flex-column align-items-center">
                <input type="text" class="form-control w-75 text-center" asp-for="@Model.Name" placeholder="Item name">
                @{
                    var user = await userService.GetAsync(int.Parse(User.FindFirstValue(ClaimTypes.NameIdentifier) ?? "0"));
                    if (user != null)
                    {
                        @Html.DropDownListFor(m => m.CollectionId, new SelectList(user.Collections, "Id", "Name"), "Select collection", new { @class = "mt-2 form-control w-75 text-center" });
                    }
                }
                <div class="text-center mt-3 w-75">
                    <h6 class="text-muted">Description(Markdown)</h6>
                    <textarea class="form-control form-control w-100 text-center" placeholder="Item description" asp-for="Description" style="min-height: 20vh;"></textarea>
                </div>
                <div class="text-center w-75 mt-3">
                    <h6 class="text-muted">Optional fields</h6>
                    <div id="fields">
                    </div>
                </div>
                <div class="text-center w-75 mt-2">
                    <input asp-for="Tags" type="text" class="form-control text-center" placeholder="tags">
                </div>
                <div class="w-75 d-flex flex-row  justify-content-between mt-2">
                    <a asp-action="Profile" asp-controller="Store" class="btn p-0">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor"
                             class="medium-icon" viewBox="0 0 16 16">
                            <path fill-rule="evenodd"
                                  d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z" />
                        </svg>
                    </a>

                    <button type="submit" class="btn p-0">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor"
                             class="medium-icon" viewBox="0 0 16 16">
                            <path fill-rule="evenodd"
                                  d="M13.854 3.646a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708 0l-3.5-3.5a.5.5 0 1 1 .708-.708L6.5 10.293l6.646-6.647a.5.5 0 0 1 .708 0z" />
                        </svg>
                    </button>
                </div>
                <input type="hidden" asp-for="@Model.ResourceId" />
                <input type="hidden" asp-for="@Model.OwnerId" value="@Model.OwnerId" />
                <div asp-validation-summary="All" class="text-center">
                </div>
            </div>
        </form>
    </div>
</div>
<div id="tpl" class="d-none">
    @{await Html.RenderPartialAsync("_DropzoneTemplate"); }
</div>

<div class="d-none">
    <div id="fieldProto">
        <div class="border-custom rounded ">
            <div name="fieldBody" class="d-flex flex-row flex-nowrap justify-content-between p-1">
                <input name="fieldId" type="hidden" />
                <label name="fieldName" class="d-inline-block text-center p-1 w-50">FieldName</label>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script src="~/lib/dropzone-5.7.0/dist/dropzone.js"></script>
    <script>
        Dropzone.autoDiscover = false;
        $('#dropzone').dropzone({
            addRemoveLinks: true,
            maxFiles: 1,
            maxFileSeize: 20,
            method: 'post',
            url: '/Store/UploadImage',
            previewTemplate: $('#tpl').html(),
            success: (file, response) => {
                console.log(response);
                if (response.succeed === true) {
                    $('#dropzone img').attr('src', response.url);
                    $('#ResourceId').val(response.id);
                }
                else {
                    console.log(response.error);
                }
            },
            removedfile: () => {
                $.post('/Store/AbortUpload');
                $('#dropzone .dz-preview').remove();
            }
        });
    </script>
    <script>
        const typesDictionary = {
            "Boolen": {
                elem: "<input />",
                type: "Checkbox",
                class: "d-inline-block text-center form-control w-75"
            },
            "Date": {
                elem: "<input />",
                type: "Date",
                class: "d-inline-block text-center form-control w-75"
            },
            "ShortString": {
                elem: "<input />",
                type: "Text",
                class: "d-inline-block text-center form-control w-75"
            },
            "LongString": {
                elem: "<textarea />",
                type: "",
                class: "d-inline-block text-center form-control w-75"
            },
            "Number": {
                elem: "<input />",
                type: "Number",
                class: "d-inline-block text-center form-control w-75"
            }
        };

        let fieldsCount = 0;
        const fieldProtoElem = $('#fieldProto');
        const fieldsElem = $('#fields');
        const setUpCheckBox = (jqElem) => {
            jqElem.change(e => {
                $(e.target).val() == 'false' ? $(e.target).val('true') : $(e.target).val('false');
            });
        };
        const createField = (typeObj, name, id) => {
            let field = fieldProtoElem.clone().removeAttr('id');
            field.find('[name="fieldName"]').attr('name', `Fields[${fieldsCount}].Name`).text(name);
            field.find('[name=fieldId]').attr('name', `Fields[${fieldsCount}].OptionalFieldId`).val(id);
            console.log(id);
            let inputElem = $(typeObj['elem'], {
                name: `Fields[${fieldsCount}].Value`,
                type: typeObj['type'],
                class: typeObj['class']
            });
            field.find('[name=fieldBody]').append(inputElem);
            fieldsCount++;
            return field;
        };
        const loadFields = id => {
            fieldsElem.empty();
            $.post("/Store/GetCollectionFields",
                { id: id },
                data => {
                    console.log(data);
                    for (let i = 0; i < data.length; i++) {
                        let fieldName = data[i]['name'];
                        let fieldType = data[i]['type'];
                        let id = data[i]['id'];
                        let field = createField(typesDictionary[fieldType], fieldName, id);
                        fieldsElem.append(field);
                        if (fieldType == 'Boolen') {
                            setUpCheckBox(field);
                        }
                    }
                }
            );
        };

        $('select').change(e => {
            $(e.target).children('[value=""]').remove();
            e.preventDefault();
            let id = $(e.target).val();
            loadFields(id);
        });

        $(() => {
            if ($('#CollectionId').val() != "") {
                let id = $('#CollectionId').val();
                loadFields(id);
            }
        });
    </script>
}