@inject IItemsCrudService itemsService
@inject IViewLocalizer localizer

@{await Html.RenderPartialAsync("_TagsRow");}

<div class="w-100 mt-4">
    <h3 class="text-center">@localizer["header"]</h3>
    <div class="position-fixed d-flex flex-column align-content-center justify-content-start bg-transparent p-2 h-75 border-left-custom"
         style="top: 20%; right: 5%; max-width: 15%;">
        <h6 class="font-italic bg-transparent">Sort by: </h6>
        <select id="sortProp" data-prop="date">
            <option selected="selected" value="date">Date</option>
            <option value="like">Popularity</option>
            <option value="name">Name</option>
        </select>
        <select id="sortPropParam">
            <option value="Asc">Ascending</option>
            <option selected="selected" value="Desc">Descending</option>
        </select>
    </div>
    <div>
        <div id="items" class="d-flex flex-row flex-wrap align-items-baseline justify-content-center">
            @foreach (var item in (await itemsService.GetAllAsync()).OrderByDescending(i => i.CreationDate))
            {
                <div name="item" data-date="@item.CreationDate.ToShortDateString()" data-likes="@item.ItemLikes.Count()" data-name="@item.Name" class=" m-1 text-center">
                    <div class="p-2">
                        <a asp-action="Item" asp-controller="Store" asp-route-id="@item.Id">
                            <img class="img-fluid img-thumbnail mx-square-20"
                                 src="@item.Resource.Url"
                                 alt="picture">
                        </a>
                    </div>
                    <div>
                        <h5 class="text-wrap">@item.Name</h5>
                    </div>
                </div>
            }
        </div>
    </div>
</div>

@section Scripts{ 
    <script src="~/js/items.js"></script>
}